/* Container styling */
.price-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  height: 100%;
  padding: 20px;
  color: #333;
  font-family: 'Arial', sans-serif;
  overflow: auto;
}

/* Left and Right section styling */
.price-left, 
.price-right {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Form group styling */
.price-form-group {
  margin-bottom: 15px;
}

.price-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.price-form-group input,
.price-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
}

/* Form group row styling */
.price-form-group-row {
  display: flex;
  gap: 10px;
}

/* Button styling */
.price-button {
  background-color: #ffa500;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.price-button:hover {
  background-color: #e17000;
}

/* Info section styling */
.price-info {
  text-align: center;
}

.price-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px;
}

/* Options section styling */
.price-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.price-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.price-option:hover {
  background-color: #ffa500;
  border-color: #ffa500;
  transform: translateY(-5px);
}

.price-selected {
  background-color: #ffa500;
  color: #fff;
}

/* Actions section styling */
.price-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.price-cancel {
  background-color: #323232;
}

.price-cancel:hover {
  background-color: #b50000;
}

.price-request {
  background-color: #ffa500;
}

.price-request:hover {
  background-color: #e17000;
}

/* Price styling */
.price {
  font-size: 2em;
  font-weight: bold;
}

.price-details {
  flex: 1;
}

.price-dimensions {
  flex: 1;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Media Queries */
@media (max-width: 1024px) {
  .price-container {
      grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .price-container {
      grid-template-columns: 1fr;
      padding: 10px;
  }
  
  .price-form-group-row {
      flex-direction: column;
  }
  
  .price-actions {
      flex-direction: column;
      gap: 10px;
  }
  
  .price-dimensions {
      text-align: left;
  }
}